::-webkit-scrollbar {
  width: 3.5px;
  background-color: #f4f7fe;
  border: 1px solid #ebf0fa;
  border-radius: 5px;
  cursor: pointer;
  z-index: 99;
}

::-webkit-scrollbar-thumb {
  background: #9aa8d1;
  border-radius: 5px;
  cursor: pointer;
  z-index: 99;
}
